@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

/* ...............General styling............ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --ff: "Montserrat", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --clr-dark: #050d1d;
  --clr-light: #f3f3f3;
  --clr-accent: #e11837;
  --clr-background: rgba(243, 243, 243, 1);
  --clr-text-dark: #0d0d0d;
  --clr-white: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
p {
  font-weight: 300;
}
button {
  text-transform: uppercase;
}

body {
  font-family: var(--ff);
}

/* ...............DotDesign............ */

.style {
  width: 127px;
  height: 98px;
  display: flex;
  gap: 18px;
  padding: 1rem;
}
.style-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}
.dark1 {
  background-color: var(--clr-dark);
}
.dark2 {
  background: rgba(37, 41, 50, 0.9);
}
.dark3 {
  background: rgba(37, 41, 50, 0.8);
}
.dark4 {
  background: rgba(37, 41, 50, 0.7);
}
.dark5 {
  background: rgba(37, 41, 50, 0.6);
}
.dark6 {
  background: rgba(37, 41, 50, 0.5);
}
.dark7 {
  background: rgba(37, 41, 50, 0.4);
}
.dark8 {
  background: rgba(37, 41, 50, 0.3);
}
.dark9 {
  background: rgba(37, 41, 50, 0.2);
}
.dark10 {
  background: rgba(37, 41, 50, 0.1);
}

.style-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* ...............NAVBAR............ */

nav {
  width: 100%;
  background-color: var(--clr-white);
}
.navbar {
  width: 90%;
  height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}
.nav-icons {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.menu-icon {
  width: 20px;
  height: 18px;
  position: relative;
}
.search-icon {
  font-size: 1.25rem;
}
.logo-img {
  width: 99.27px;
  height: 22.13px;
}
/* ..........MENU ICON.......*/
.menu-icon_1,
.menu-icon_2,
.menu-icon_3 {
  height: 2px;
  background-color: #252932;
  position: absolute;
  right: 0;
}
.menu-icon_1 {
  width: 12px;
  top: 0px;
}
.menu-icon_2 {
  width: 20px;
  top: 8px;
}
.menu-icon_3 {
  width: 16px;
  top: 16px;
}

/* ...............ABOUT SECTION............ */

.about-header {
  height: 189px;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: 1.25rem;
  margin-bottom: 2.125rem;
}
.about-header_title {
  margin-bottom: 1.5rem;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.95rem;
  letter-spacing: 2px;
}
.about-header_text {
  width: 20rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 25px;
}

.about-des {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
}
.about-des_list {
  list-style: none;
  margin-bottom: 1rem;
}
.about-des_list li:before {
  content: "•";
  font-size: 4.5em;
  position: relative;
  top: 0.75rem;
}
.carts-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  overflow-x: scroll;
  padding: 1rem 3.5rem;
}
.cart {
  min-width: 285px;
  height: 315px;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  padding: 1rem;
}
.cart-heading {
  margin: 0 auto;
  border-bottom: 2px solid white;
}
.cart-subheading {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.cart-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.cart-des {
  margin-top: 1.5rem;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 300;
}
.cart-button {
  width: 174px;
  height: 43.5px;
  background-color: var(--clr-accent);
  border: 1px solid white;
  border-radius: 5px;
  color: var(--clr-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  margin-top: 1.5rem;
}
@media only screen and (min-width: 600px) {
  .about-header_text {
    width: 40%;
  }
  .about-des {
    width: 60%;
    margin: 1rem auto;
  }
  .cart {
    width: 354px;
    height: 333px;
  }
  .carts-section {
    overflow-x: hidden;
  }
}

/* ...............NETWORK............ */

.network-container {
  background-color: var(--clr-background);
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 1rem;
}
.network-heading {
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.12px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.network-text {
  margin-bottom: 8.5rem;
}
.network-par {
  font-size: 16px;
  font-weight: 300;
  line-height: 20.8px;
  margin-bottom: 4rem;
}
.network-item {
  margin-bottom: 0.5rem;
}
.resourse-text {
  width: 313px;
  font-size: 18px;
  line-height: 24.5px;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e11837;
}
.resourse-button {
  width: 290px;
  height: 45px;
  border-radius: 4px;
  border: 2px solid #252932;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
}
@media only screen and (min-width: 600px) {
  .network-container {
    display: flex;
    justify-content: space-between;
    padding: 7rem;
  }
}

/* ...............ACCORDION............ */

.accordion-container {
  width: 90%;
  margin: 1.5rem auto;
  padding: 1rem;
}
.accordion {
  border: 1px solid #58595b;
  margin-top: 1.5rem;
}
.accordion-heading {
  display: flex;
  background-color: var(--clr-background);
  padding: 1rem;
}
.accordion-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.5px;
}
.accordion-des {
  font-size: 18px;
  font-weight: 300;
  line-height: 22.5px;
}
.accordion-button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem;
}
.accordion-info {
  padding: 1rem;
}
@media only screen and (min-width: 600px) {
  .accordion-container {
    width: 954px;
  }
}

/* ...............TILES............ */

.dark-tile,
.red-tile {
  width: 85%;
  height: 240px;
  color: var(--clr-white);
  margin: 1.5rem auto;
  padding: 1rem;
  padding-top: 2.5rem;
  position: relative;
}
.dark-tile {
  background-color: var(--clr-dark);
}
.dark-border1,
.dark-border2,
.red-border1,
.red-border2 {
  border: 1px solid white;
  opacity: 0.5;
  position: absolute;
}
.dark-border1 {
  width: 38px;
  height: 214.5px;
  top: 0;
  right: 0;
}
.dark-border2 {
  width: 67px;
  height: 117px;
  bottom: 0;
  right: 0;
}
.tile-text {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
}
.tile-button {
  width: 157px;
  height: 43px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: var(--clr-white);
  margin-top: 2.5rem;
}
.red-tile {
  background-color: var(--clr-accent);
}
.red-border1 {
  width: 38px;
  height: 53px;
  right: 0;
  bottom: 0;
}
.red-border2 {
  width: 139px;
  height: 24.5px;
  bottom: 0;
  right: 0;
}
@media only screen and (min-width: 600px) {
  .tiles-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 4rem;
  }
}

/* ...............FOOTER............ */

footer {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: 1rem;
  padding-top: 3rem;
}
.footer-contact {
  border-bottom: 1px solid white;
}
.footer-contact_des {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 1.5rem;
}
.contact-info h6,
.contact-info p {
  display: inline;
  font-size: 16px;
  line-height: 20.8px;
}
.contact {
  margin-bottom: 1rem;
}
.contact-list {
  list-style: none;
  padding-top: 1rem;
  line-height: 35px;
  margin-bottom: 1.5rem;
}
.footer-subc {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.footer-subc-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
  margin-bottom: 1rem;
}
.footer-subc-subheading {
  font-weight: 400;
  line-height: 20.8px;
  margin-bottom: 1.5rem;
}
.form-input {
  width: 314px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--ff);
  display: block;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.checkbox {
  width: 100%;
  display: flex;
  margin-bottom: 2.5rem;
}
.checkbox-label {
  display: inline;
  position: relative;
}
.checkbox input {
  display: none;
}
input[type="checkbox"] + .checkbox-label {
  display: block;
  margin-bottom: 20px;
}
input[type="checkbox"] + .checkbox-label::after {
  content: "\2714";
  border: 2px solid white;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  color: transparent;
  font-size: 1.75rem;
  padding-left: 0.2em;
}
input[type="checkbox"]:checked + .checkbox-label::after {
  color: var(--clr-white);
}
.checlbox-text {
  position: absolute;
  left: 5rem;
}
.form-submit {
  width: 157px;
  height: 43px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: var(--clr-white);
  line-height: 19.5px;
  font-weight: 700;
}
.twitter-feed {
  margin-bottom: 6.5rem;
}
.twitter-logo {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.logo-wrapper {
  width: 32px;
  height: 32px;
  background-color: var(--clr-white);
  border-radius: 50%;
  padding: 0.2rem;
  margin-right: 0.5rem;
}
.twitter-logo-text p {
  color: var(--clr-accent);
}
.footer-social {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.footer-text {
  width: 50%;
  padding-left: 1rem;
  font-size: 12px;
  font-weight: 300;
  line-height: 17.6px;
  margin-top: 1rem;
}
@media only screen and (min-width: 600px) {
  .footer-contact {
    display: flex;
    justify-content: space-around;
  }
  .footer-contact_des {
    max-width: 50%;
  }
  .footer-subc {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .twitter-feed {
    max-width: 40%;
  }
  .checlbox-text {
    max-width: 40%;
  }
  .social-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 2rem 5rem;
  }
  .footer-social {
    display: flex;
    gap: 2rem;
  }
}
